In [53]:
import pandas as pd

In [54]:
sub_178 = pd.read_csv("../model_output/178/stacking/sub_test_178.txt")

In [55]:
sub_178.head()

      id      prob
0    863  0.255712
1   6113  0.259505
2  27764  0.220451
3  33173  0.084638
4  39229  0.394317

In [56]:
sub_random = pd.read_csv("../model_output/random/stacking/sub_test_random.txt")

In [57]:
sub_random.head()

      id      prob
0    863  0.241049
1   6113  0.275327
2  27764  0.211307
3  33173  0.083429
4  39229  0.392516

In [58]:
sub_178['rank'] = sub_178.prob.rank()
sub_random['rank'] = sub_random.prob.rank()

In [59]:
sub_178 = sub_178.rename(columns={"prob": "178_prob", "rank": "rank_178"})
sub_random = sub_random.rename(columns={"prob": "random_prob", "rank": "rank_random"})

In [60]:
sub_178.head()

      id  178_prob  rank_178
0    863  0.255712    5057.0
1   6113  0.259505    5102.0
2  27764  0.220451    4676.0
3  33173  0.084638    1930.0
4  39229  0.394317    5867.0

In [61]:
final = sub_178.merge(sub_random, on="id")

In [62]:
final.head()

      id  178_prob  rank_178  random_prob  rank_random
0    863  0.255712    5057.0     0.241049       4960.0
1   6113  0.259505    5102.0     0.275327       5298.0
2  27764  0.220451    4676.0     0.211307       4629.0
3  33173  0.084638    1930.0     0.083429       1893.0
4  39229  0.394317    5867.0     0.392516       5821.0

In [64]:
final['diff'] = abs(final['178_prob'] - final['random_prob'])
final['rank_diff'] = abs(final['rank_178'] - final['rank_random'])

In [65]:
final["diff"].mean()

0.007643501226557184

In [66]:
final["rank_diff"].mean()

121.70633333333333

In [68]:
final.shape

(6000, 7)

In [74]:
final[final.rank_diff < 300].shape

(5474, 7)